*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
	display: grid;
	grid-template-rows: 20px 100vh 100vh 100vh 100vh 150px;
	font-family: sans-serif;
	background-image: linear-gradient(rgb(104, 104, 105), #141414);
	color: whitesmoke;
}

header {
	background-color: #4e4d4d;
}

.topnav {
	position: fixed;
	background-color: #4e4d4d;
	padding: 20px;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.topnav a {
	color: whitesmoke;
	text-decoration: none;
	font-size: 20px;
}

.topnav a:hover {
	color: rgb(173, 167, 255);
	transition: 0.5s;
}

.home {
	color: whitesmoke;
	display: grid;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.home img {
	border-radius: 15%;
	height: 500px;
	width: 500px;
	margin: 5%;
	margin-left: 12%;
	box-shadow: 0px 5px 30px 30px rgba(27, 27, 27, 0.199);
}

.intro {
	margin: 5%;
	margin-left: 7%;
}

.intro h1{
	font-size: 80px;
}

.intro p {
	font-size: 30px;
}

.aboutme {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aboutme h1 {
	font-size: 70px;
	margin-top: 5%
}

hr {
	margin-bottom: 4%;
	width: 20%;
}

.aboutme p {
	width: 60%;
	font-size: 30px;
	text-align: center;
	margin: 1%;
}

.aboutme a {
	color: whitesmoke;
}

.skills {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skills h2 {
	font-size: 70px;
	display: flex;
	align-self: center;
}

.icons {
	display: flex;
	flex-wrap: wrap;
	width: 700px;
	align-content: flex-start;
	justify-content: center;
	align-self: center;
	margin: 30px;
}

.icons i {
	font-size: 100px;
	margin: 30px;
}

.projects {
	width: 100%;
	height: 100vh;
}

footer {
	background-color: #4e4d4d;
	padding: 100px;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

footer i {
	font-size: 100px;
}

footer a {
	text-decoration: none;
	color: whitesmoke;
}

footer i:hover {
	box-shadow: 0px 8px 30px 30px rgba(39, 39, 39, 0.199);
	border-radius: 100%;
	font-size: 110px;
	transition: 1s;
}
