*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
	display: grid;
	grid-template-rows: 20px 100vh 100vh 100vh 100vh 150px;
	font-family: sans-serif;
	background-color: #0d1b2a;
	color: #e0e1dd;
}

.topnav {
	position: fixed;
	background-color: #e0e1ddef;
	padding: 20px;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

.topnav a {
	color: #1b263b;
	text-decoration: none;
	font-size: 20px;
}

.topnav a:hover {
	color: #fb8500;
	transition: 1s;
}

.home {
	color: #e0e1dd;
	display: grid;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.home img {
	border-radius: 15%;
	height: 500px;
	width: 500px;
	margin: 5%;
	margin-left: 12%;
	box-shadow: 0px 5px 30px 30px rgba(27, 27, 27, 0.199);
}

.intro {
	margin: 5%;
	margin-left: 7%;
}

.intro h1{
	font-size: 80px;
	color: #fb8500;
}

.intro p {
	font-size: 30px;
}

.aboutme {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.aboutme h1 {
	font-size: 70px;
	margin-top: 5%;
	color: #fb8500;
}

hr {
	margin-bottom: 1%;
	width: 20%;
}

.aboutme p {
	width: 60%;
	font-size: 30px;
	text-align: center;
	margin: 1%;
}

.aboutme a {
	color: #e0e1dd;
}

.skills {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.skills h2 {
	font-size: 70px;
	display: flex;
	align-self: center;
	color: #fb8500;
}

.icons {
	display: flex;
	flex-wrap: wrap;
	width: 700px;
	align-content: flex-start;
	justify-content: center;
	align-self: center;
	margin: 30px;
}

.icons i {
	font-size: 100px;
	margin: 30px;
}

.projects {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.projects h2 {
	font-size: 70px;
	display: flex;
	align-self: center;
	color: #fb8500;
}

.imgproj {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.imgproj img {
	height: 350px;
	width: 680px;
}

.imgproj a {
	margin: 5%;
}

.imgproj a:hover {
	transform: scale(1.15);
	transition: 1s;
}

footer {
	background-color: #e0e1dd5d;
	padding: 100px;
	left: 0;
	bottom: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

footer i {
	font-size: 100px;
}

footer a {
	text-decoration: none;
	color: #e0e1dd;
	display: flex;
	flex-direction: column;
	align-items: center;
}

footer i:hover {
	box-shadow: 0px 8px 30px 30px #49494969;
	border-radius: 100%;
	font-size: 110px;
	transition: 1s;
}

footer img {
	height: 90px;
	width: 90px;
}

footer img:hover {
	border-radius: 20%;
	box-shadow: 0px 8px 30px 30px #49494969;
	background-color: #49494969;
	transform: scale(1.1);
	transition: 1s;
}
